services:

  postgres:
    image: postgres
    restart: always
    shm_size: 128mb
    environment:
      POSTGRES_PASSWORD: postgres
    ports:
      - "54324:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
  app:
    build: .
    restart: always
    ports:
      - "3000:3000"
    environment:
      DATABASE_URL: "postgresql://postgres:postgres@postgres:5432/postgres?schema=public"
    depends_on:
      - postgres

volumes:
  postgres_data: